store-dir=C:/Users/senar/.pnpm-store
virtual-store-dir=C:/Users/senar/.pnpm-virtual-store/mint-copilot
state-dir=C:/Users/senar/.pnpm-state
cache-dir=C:/Users/senar/.pnpm-cache
package-import-method=copy
prefer-frozen-lockfile=false
